.sfondo{
  background-color: black;
}

.title{
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background-color: black;
}

.background{
  height: 124vh;
  background-color: black;
  overflow: hidden;
}

.info1{
  position: absolute;
  left: 10%;
}

.risposta1{
  position: absolute;
  right: 10%;
}

.photo{
  width: 300px;
  height: 300px;
  opacity: 0.5;
}
/*
.photo1{
  background-size: cover;
  background-image: url('../../../public/images/crediti/desiree1.jpeg');
}

.photo2{
  background-size: cover;
  background-image: url('../../../public/images/crediti/desiree2.jpeg');
}


.photo3{
  background-size: cover;
  background-image: url('../../../public/images/crediti/desiree3.jpeg');
}


.photo4{
  background-size: cover;
  background-image: url('../../../public/images/crediti/michele1.jpeg');
}

.photo5{
  background-size: cover;
  background-image: url('../../../public/images/crediti/michele2.jpeg');
}

.photo6{
  background-size: cover;
  background-image: url('../../../public/images/crediti/michele3.jpeg');
}

.photo7{
  background-size: cover;
  background-image: url('../../../public/images/crediti/michele4.jpeg');
}

.photo8{
  background-size: cover;
  background-image: url('../../../public/images/crediti/francesca1.jpeg');
}

.photo9{
  background-size: cover;
  background-image: url('../../../public/images/crediti/francesca2.jpeg');
}

.photo10{
  background-size: cover;
  background-image: url('../../../public/images/crediti/francesca3.jpeg');
}

.photo11{
  background-size: cover;
  background-image: url('../../../public/images/crediti/francesca4.jpeg');
}

.photo12{
  background-size: cover;
  background-image: url('../../../public/images/crediti/francesca5.jpeg');
}
*/







