@import '../../../styles/mixins.scss';

.title{
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background-color: black;
}

.title h1 {
  margin: 0px;
}

.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gifContainer{
  width: fit-content;
}

.gifsContainer{
  background-color: black;
  display: flex;
  width: 98.9vw;
  overflow: hidden;
} 

.container1{
  position: relative;
  left: 4%;
  margin-left: auto;
  margin-right: auto;
}

.container2{
  position: relative;
  left: 4%;
  margin-left: auto;
  margin-right: auto;
}

.container3{
  position: relative;
  left: 4%;
  margin-left: auto;
  margin-right: auto;
}