@import '../../../styles/mixins.scss';

.title{
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background-color: black;
}

.gif{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gifContainer{
  width: fit-content;
}

.gifsContainer{
  background-color: black;
  display: flex;
  width: 98.9vw;
} 

.container1{
  margin-left: 80px;
  margin-right: auto;
}

.container2{
  margin-left: auto;
  margin-right: auto;
}

.container3{
  margin-left: auto;
  margin-right: auto;
}

.title h1{
  margin: 0px;
}