
.allContainer{
  display: block;
  margin-top: 140px;
}

.container{
  display: flex;
  position: relative;
  top: 100px;
}

.nextPage {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.buttonNextPage{
  background: linear-gradient(to right, blue, blue 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  border-radius: 10px;
  font-size: large;
  color: white;
  position: relative;
  top: 40px;
}

.buttonNextPage:hover {
  background-position: 0 100%;
}

.text{
  flex-direction: row;
  display: block;
  margin-left: 200px;
  width: 100%;
  margin-top: -50px;
}

.text h2{
  color: white;
}

.text p{
  color: white;
  width: 50%;
}

.image{
  background-size: cover;
  border-radius: 40px;
  min-width: 200px;
  min-height: 200px;
}

.module{
  background-image: url('../../../public/images/carousel/city_background.png');
  width: 100%;
  background-size: cover;
  background-position-y: 0px;
  height: 500px;
}

.imageButton{
  margin-left: 800px;
}

// all images

.scienze1{
  background-image: url('../../../public/images/home/3.jpg');
}

.scienze2{
  background-image: url('../../../public/images/home/3.jpg');
}

.scienze3{
  background-image: url('../../../public/images/home/3.jpg');
}

.storia1{
  background-image: url('../../../public/images/home/3.jpg');
}

.storia2{
  background-image: url('../../../public/images/home/3.jpg');
}

.storia3{
  background-image: url('../../../public/images/home/3.jpg');
}

.arte1{
  background-image: url('../../../public/images/home/3.jpg');
}

.arte2{
  background-image: url('../../../public/images/home/3.jpg');
}

.arte3{
  background-image: url('../../../public/images/home/3.jpg');
}

.religione1{
  background-image: url('../../../public/images/home/3.jpg');
}

.religione2{
  background-image: url('../../../public/images/home/3.jpg');
}

.religione3{
  background-image: url('../../../public/images/home/3.jpg');
}

.first{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 10px;
}

.star{
  background-image: url('../../../public/images/carousel/star.svg');
  position: absolute;
  width: 150px;
  height: 150px;
}

.second{
  left: 400px;
  width: 30px;
  height: 30px;
}

.third{
  width: 100px;
  height: 100px;
  left: 700px;
  top: 80px;
}

.third{
  position: absolute;
  left: 800px;
  top: 30px;
}

.fourth{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1000px;
  top: 0px;
}

.fifth{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1300px;
  top: 80px;
}

.moon{
  background-image: url('../../../public/images/carousel/moon.png');
  position: absolute;
  width: 200px;
  height: 200px;
  left: 500px;
  top: 10px;
  background-size: cover;
}