
.allContainer{
  display: block;
  margin-top: 140px;
}

.container{
  display: flex;
  position: relative;
  top: 100px;
}

.nextPage {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.buttonNextPage{
  background: linear-gradient(to right, blue, blue 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  border-radius: 10px;
  font-size: large;
  color: white;
  position: relative;
  top: 40px;
}

.buttonNextPage:hover {
  background-position: 0 100%;
}

.text{
  flex-direction: row;
  display: block;
  margin-left: 200px;
  width: 100%;
  margin-top: -50px;
}

.text h2{
  color: white;
}

.text p{
  color: white;
  width: 50%;
  min-width: 200px;
}

.image{
  background-size: cover;
  border-radius: 40px;
  min-width: 200px;
  min-height: 200px;
}

.module{
  background-image: url('../../../public/images/carousel/city_background.png');
  width: 100%;
  background-size: cover;
  background-position-y: 0px;
  height: 500px;
}

.imageButton{
  margin-left: 800px;
}

// all images

.scienze1{
  background-image: url('../../../public/images/home/3.jpg');
}

.scienze2{
  background-image: url('../../../public/images/home/3.jpg');
}

.scienze3{
  background-image: url('../../../public/images/home/3.jpg');
}

.storia1{
  background-image: url('../../../public/images/home/3.jpg');
}

.storia2{
  background-image: url('../../../public/images/home/3.jpg');
}

.storia3{
  background-image: url('../../../public/images/home/3.jpg');
}

.arte1{
  background-image: url('../../../public/images/home/3.jpg');
}

.arte2{
  background-image: url('../../../public/images/home/3.jpg');
}

.arte3{
  background-image: url('../../../public/images/home/3.jpg');
}

.religione1{
  background-image: url('../../../public/images/home/3.jpg');
}

.religione2{
  background-image: url('../../../public/images/home/3.jpg');
}

.religione3{
  background-image: url('../../../public/images/home/3.jpg');
}

.first{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 10px;
}

.star{
  background-image: url('../../../public/images/carousel/star.svg');
  position: absolute;
  width: 150px;
  height: 150px;
}

.second{
  left: 400px;
  width: 30px;
  height: 30px;
}

.third{
  width: 100px;
  height: 100px;
  left: 700px;
  top: 80px;
}

.third{
  position: absolute;
  left: 800px;
  top: 30px;
}

.fourth{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1000px;
  top: 0px;
}

.fifth{
  position: absolute;
  width: 20px;
  height: 20px;
  left: 1300px;
  top: 80px;
}

.moon{
  background-image: url('../../../public/images/carousel/moon.png');
  position: absolute;
  width: 200px;
  height: 200px;
  left: 500px;
  top: 10px;
  background-size: cover;
}

@font-face {
	font-family: 'icomoon';
	src:		url('https://tympanus.net/Development/CreativeButtons/fonts/icomoon/icomoon.woff') format('woff');
}

@font-face {
	font-family: 'icomoon';
	src:		url('https://tympanus.net/Development/CreativeButtons/fonts/icomoon/icomoon.woff') format('woff');
}

.btn {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    top: -30px;  
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
    border-radius: 50px;
    border: 3px solid #fff;
    color: black;
    overflow: hidden;
}

.btn:active {
    border-color: #17954c;
    color: #17954c;
}

.btn:hover {
	    background: #24b662;
}

.btn:active:before {
	    color: #17954c;
}


/* Pseudo elements for icon */
.btn:before {
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
  
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  
    left: 70%;
    opacity: 0;
    top: 20px;
    content: "➡️";
}

.btn:hover:before {
    left: 80%;
    opacity: 1;
}